<ul class="list">
    <h3 class="data">Capital: <span class="numeric-data">{{capital}}</span></h3>
    <h3 class="data">Population: <span class="numeric-data">{{population}}</span></h3>
    <div class="language">
        <h3 class="data">Languages: </h3>
        <ul class="numeric-list">
            {{#each languages}}
            <li><span class="numeric-data">{{name}}</span></li>
            {{/each}}
        </ul>
    </div>
</ul>
<div>
    <h2>{{name}}</h2>
    <img class="picture" src="{{flag}}" width="320">
</div>